.explorerContainer {
    display: flex;
    flex-direction: row;
    width: 980px;
    height: 380px;
    gap: 10px;
    align-items: stretch;
    /* Ensure both children fill height */
}


.actionContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    border-radius: 8px;
    overflow: hidden;
    gap: 10px;
    width: 980px;
}

.actionContainer button {
    width: 120px;
    height: 60px;
    font-size: 1.5rem;
    text-align: center;
    background: #555;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.actionContainer button:active {
    background-color: #777;
    transform: scale(0.98);
}